{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block specific-css %}
{% endblock %}
{% block content %}
        <h1 align="center">
            {% trans 'Log in' %}
        </h1>
        <div class="row">
            <div class="col s8 m8 offset-s2 offset-m2">
                {% if not user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Log in' %}">
                </form>
                {% else %}
                <div class="row">
                    <p>
                        {% trans 'Already authenticated as ' %} {{ user.username }}
                    </p>
                    <a href="{% url 'log_out' %}">
                        {% trans 'Log Out' %}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}